*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
padding: 20px 4rem;
display: flex;
flex-wrap: wrap;
border-bottom: 3px solid gray;
align-items: center;

}
.left{
    width: 20%;
    text-align: left;
}
.right{
    width: 60%;
    text-align: right;
    
}
.right a{
    margin-left: 30px;
}
.right2{
    width: 20%;
    text-align: right;
}
.btn1{
    text-decoration: none;
    border: 4px solid khaki;
    border-radius: 10px;
    transition: 0.7s;
    font-size: 20px;
}
.btn1:hover{
background-color: khaki;
}
.right a i{
    font-size: 20px;
}
.right2 button{
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    padding: 1rem 1rem;
    transition: 0.7s;
}
.right2 button:hover{
    background-color: khaki;
}
.right2 i{
    font-size:25px ;
}
section{
    background-image: url(https://www.lootie.com/assets/images/snowflake-white.svg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 20px 4rem;
}
#bdy h3{
    font-size: 28px;
    margin: 20px 0;
}
.bdy{
    position: fixed;
    overflow: auto;
}

.btns :nth-child(1){
    color: white;
    font-size: 20px;
    border-radius: 15px;
    background: linear-gradient(320deg,khaki, red);
    padding: 1rem 1rem;
    transition: 0.7s;
    text-decoration: none;
    margin-right: 10px;
}
.btns :nth-child(2){
    color: gray;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    padding: 1rem 1rem;
    transition: 0.7s;
    border: 2px solid #f48836;
    text-decoration: none;
    margin-left: 10px;
}

.btns{
    padding: 10px;
    margin-bottom: 3rem;;
}
.crtbox .a1{
    color: white;
    font-size: 20px;
    border-radius: 15px;
    background: linear-gradient(320deg,khaki, red);
    padding: 1rem 2rem;
    transition: 0.7s;
    text-decoration: none;
    margin-right: 10px;
    float: left; 
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.crtbox {
    padding: 0 5rem;
    background-color: white;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    
}
.crtbox a{
    margin-top: 30px;
    text-decoration: none;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}
.s1{
    width: 40%;
    text-align: right;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.six{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}
.six a {
    padding: 10px 30px;
    
    margin-bottom: 10px;
    align-items: center;
    margin: auto;
}
.s1 input{
    width: 100%;
    height: 40px;
    
}
.fifty{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    
}
.box{
    width: 16%;
   display: flex;
   align-items: center;
   margin-left: 10px;
   margin-bottom: 15px;
   
}
.box img{
    width: 100%;  
    margin-bottom: 20px;  
    padding: 30px;
}
.s1 a{
    margin-left: 20px;
}
.box-top{
    background-color: gray;
}
.box-top a{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    
}



    
